        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inika:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
         :root {
            --text-01: #45413E;
            --brand-01: #f8f0e5;
            --brand-02: #eadbc8;
            --brand-03: #dac0a3;
            --brand-04: #102c57;
            --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
            --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            --hover-timing: all 0.2s ease;
            --nav-card-size: 240px;
            -webkit-font-smoothing: antialiased;
            scroll-behavior: smooth;
            --transition-color: color .3s;
            --transition-background: background-color .3s;
            --transition-border: border .3s;
            --transition-transform: transform .3s;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        
        body {
            font-weight: 500;
            transition: var(--hover-timing);
            background: var(--brand-01);
            width: 100vw;
            overflow-x: hidden;
        }
        
        section,
        footer {
            position: relative;
            width: 100%;
            padding: 0 var(--pg-margin);
        }
        
        section:not(.hero) {
            padding: calc(var(--pg-margin)/2) var(--pg-margin);
        }
        
        section h2 {
            font-size: 32px;
            font-weight: 600;
            line-height: 1.2;
            text-align: center;
            color: var(--text-01);
            margin-bottom: 32px;
            /*    padding-bottom: 24px;*/
            text-transform: uppercase;
        }
        /*BANNER*/
        /* .slider :where(.image,
    .ob-cover) {
        position: relative;
    }
    
    .slider .ob-cover {
        height: 430px;
    }
    
    .ob-cover img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    } */
        
        .swiper {
            width: 100%;
            height: 600px;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        /*CTEGORIES*/
        
        .contain {
            margin: 60px auto;
            max-width: 1200px;
        }
        
        .dotgrid .wrapper .item {
            width: 140px;
        }
        
        .wrap {
            text-align: center;
        }
        
        .heading .title-cate {
            font-size: 2em;
            margin-bottom: 20px;
            font-family: "Playfair Display", serif;
            color: #102c57;
        }
        
        .cate {
            margin: 10px;
            text-align: center;
            box-sizing: border-box;
            display: grid;
        }
        
        .cate-image img {
            max-width: 180px;
            height: auto;
            background-color: #fff;
            padding: 10px;
            border-radius: 100px;
            cursor: pointer;
        }
        
        .cate-title {
            color: #102c57;
            font-size: 18px;
            font-family: "Crimson Text", serif;
            cursor: pointer;
        }
        
        .button-wrapper {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
        }
        
        .left-button-wrapper {
            left: 155px;
        }
        
        .right-button-wrapper {
            right: 152px;
        }
        
        .button {
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            background-color: #696969;
            border: none;
            opacity: .5;
        }
        
        .bx {
            font-size: 25px;
            color: #fff;
        }
        
        .button:hover {
            opacity: .8;
            background-color: #fff;
            transition: all .45 ease;
        }
        /*SHAPE*/
        
        .dotgrid .wrapper {
            display: grid;
            --grid-col: 175px;
            grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-col), 100%), 1fr));
            gap: 10px;
        }
        
        .dotgrid .wrapper .item {
            width: 140px;
        }
        
        .shape {
            padding: 20px 0;
            background-color: #102c57;
        }
        
        .container {
            margin: 20px auto;
            padding: 30px 0;
            max-width: 1200px;
        }
        
        .wrap {
            text-align: center;
        }
        
        .heading .title {
            font-size: 2em;
            margin-bottom: 20px;
            font-family: "Playfair Display", serif;
            color: #eadbc8;
            cursor: pointer;
        }
        
        .inner-wrapper {
            display: flex;
            justify-content: center;
        }
        
        .dotgrid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .shapebox .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .item {
            margin: 10px;
            text-align: center;
        }
        
        .dot-image img {
            max-width: 100px;
            height: auto;
            background-color: #fff;
            padding: 40px 20px;
            border-radius: 30px;
        }
        
        .dot-image:hover {
            transform: translateY(-5px);
            cursor: pointer;
        }
        
        .dot-info {
            margin-top: 10px;
            font-size: 14px;
            color: #f8f0e5;
            font-family: "Playfair Display", serif;
        }
        
        .button-shape {
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            background-color: #102c57;
            border: solid 2px #f8f0e5;
        }
        
        .button-wrapper .bx {
            font-size: 25px;
            color: #f8f0e5;
        }
        
        .button-shape:hover {
            background-color: #f8f0e5;
            transition: all .45s ease;
        }
        
        .bx:hover {
            color: #102c57;
        }
        /*BANNER 2*/
        
        .banner_2 {
            background-image: url("/HomePage/Image/Beige\ and\ Gray\ Elegant\ Jewerly\ Photo\ Etsy\ Shop\ Cover\ .png");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 0;
        }
        
        .banner_2_container {
            color: #102c57;
            text-align: center;
            margin-top: 0;
            font-family: "Playfair Display", serif;
            font-weight: 600;
            font-size: 24px;
        }
        
        .banner_2_container h2 {
            font-size: 3rem;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            padding-top: 10px;
            color: #102c57;
        }
        
        .countdown {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin: 2rem 0;
        }
        
        .square {
            width: 80px;
            height: 80px;
            background-color: #D8A25A;
            display: grid;
            place-content: center;
            border-radius: 25px;
        }
        
        .square span {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
        }
        
        .banner_2_container button {
            padding: 1rem 2rem;
            font-size: 1rem;
            color: #f8f0e5;
            outline: none;
            border: none;
            border-radius: 15px;
            background-color: #102c57;
            cursor: pointer;
            margin-top: 30px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            transition: all .45s ease;
        }
        
        .banner_2_container button:hover {
            background-color: #D8A25A;
            color: #102c57;
            /* Adjust the hover color as needed */
        }
        /*bestseller*/
        
        .feature {
            margin: 60px auto;
        }
        
        .nav-buttons {
            top: calc(100% + 20px);
            text-align: right;
        }
        
        .prev-button,
        .next-button {
            background-color: transparent;
            border: none;
            font-size: 35px;
            cursor: pointer;
            color: #d9d9d9;
        }
        
        .prev-button {
            margin-right: 5px;
        }
        
        .bxs-chevron-left,
        .bxs-chevron-right {
            color: #d9d9d9;
        }
        
        .feature-content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
            gap: 2rem;
            align-items: center;
            margin-top: 5px;
        }
        
        .title-best {
            font-size: 2em;
            margin-bottom: 20px;
            font-family: "Playfair Display", serif;
            color: #102c57;
        }
        
        .row {
            padding: 30px 20px;
            background-color: #102c57;
            border-radius: 20px;
            transition: all .45s ease;
        }
        
        .main-row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
        }
        
        .row-img img {
            width: 200px;
            height: auto;
            max-width: 100%;
        }
        
        .row-img {
            width: 200px;
        }
        
        .row-text h6 {
            font-size: 12px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 1.5rem;
            font-family: "Poppins", serif;
        }
        
        .row-text h3 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            font-family: "Playfair Display", serif;
            color: #fff;
        }
        
        .row-text h5 {
            font-size: 13px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 2rem;
            font-family: "Inika", serif;
        }
        
        .row-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #dac0a3;
            color: #102c57;
            font-size: 12px;
            border-radius: 30px;
            transition: all .45s ease;
            text-decoration: none;
            font-family: "Poppins", serif;
            font-weight: 600;
        }
        
        .row-btn:hover {
            color: #102c57;
            background-color: #D8A25A;
        }
        
        .row:hover {
            transform: translateY(-5px);
            cursor: pointer;
        }
        /*About*/
        
        .about {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
            align-items: center;
            gap: 1rem;
            margin-top: 80px;
        }
        
        .about-text h2 {
            font-size: 32px;
            text-transform: uppercase;
        }
        
        .about-text p {
            font-size: 14px;
        }
        
        #about>div {
            background: #EDDAA9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 12px;
            box-shadow: var(--card-shadow);
            transition: var(--hover-timing);
        }
        
        #about>div:hover {
            box-shadow: var(--card-hover);
        }
        
        #about h2 {
            font-size: 32px;
            text-transform: uppercase;
            font-family: "Playfair Display", serif;
            color: #102c57;
            font-weight: bolder;
        }
        
        #about p {
            line-height: 1.5;
            margin-bottom: 40px;
            width: 80%;
            text-align: center;
            font-family: "Crimson Text", serif;
            color: #45413E;
            font-size: 16px;
        }
        
        section#about.about {
            padding-bottom: 20px;
        }
        /*banner 3*/
        
        .banner__container {
            padding-left: 50px;
            padding-top: 80px;
        }
        
        .banner_3 {
            background-image: url("/HomePage/Image/dogetit.png");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 50vh;
            /* Make it take the full height of the viewport */
        }
        
        .banner__container h6 {
            font-size: 16px;
            font-family: "Crimson Text", serif;
            color: #102c57;
            font-weight: bold;
        }
        
        .banner__container h2 {
            font-size: 32px;
            text-align: left;
            margin-top: 20px;
            font-family: "Playfair Display", serif;
            color: #102c57;
            font-weight: 700;
        }
        
        .banner__container button {
            font-size: 12px;
            padding: 10px 20px;
            background-color: #102c57;
            color: #dac0a3;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: "Poppins", serif;
            font-weight: 600;
            transition: all .45s ease;
        }
        
        .banner__container button:hover {
            background-color: #D8A25A;
            color: #102c57;
            /* Adjust the hover color as needed */
        }