@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inika:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root {
    --text-01: #45413E;
    --brand-01: #f8f0e5;
    --brand-02: #eadbc8;
    --brand-03: #dac0a3;
    --brand-04: #102c57;
    --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
    --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    --hover-timing: all 0.2s ease;
    --nav-card-size: 240px;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    --transition-color: color .3s;
    --transition-background: background-color .3s;
    --transition-border: border .3s;
    --transition-transform: transform .3s;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f0e5;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1200px;
    justify-content: center;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.product.dotgrid {
    display: flex;
    width: 50%;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    display: flex;
    gap: 10px;
}

.image {
    display: flex;
    width: 100%;
    gap: 10px;
}

.outer-thumb {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail-image .item {
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail-image .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-image .item.selected {
    background-color: #fbf6ef;
    border-radius: 20px;
    border-color: solid 2px #dac0a3;
}

.outer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-image {
    width: 100%;
    height: 585px;
    /* Adjust as necessary */
    overflow: hidden;
    background-color: #fbf6ef;
    border-radius: 30px;
}

.main-image .item img {
    width: 100%;
    height: 585px;
    /* object-fit: cover; */
}

.product.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}


/*RING SIZE*/

.ring-size-container {
    display: flex;
    align-items: center;
    gap: 20px;
    /* khoảng cách giữa dropdown và liên kết */
}

.ring-size-select {
    padding: 8px 20px 8px 5px;
    font-size: 12px;
    color: #102c57;
    opacity: .7;
    border-radius: 10px;
}

.ring-size-help {
    text-decoration: none;
    color: #102c57;
    font-size: 12px;
    font-weight: bold;
}

.ring-size-help:hover {
    text-decoration: underline;
}


/*SELECT*/

.select-button {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 400px;
    background-color: #dac0a3;
    border-radius: 20px;
}

.select-button {
    /* Existing styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 520px;
    background-color: #dac0a3;
    border-radius: 20px;
}

.selection-title {
    margin: 0;
    font-size: 14px;
    text-align: left;
    font-family: "Playfair Display", sans-serif;
    color: #102c57;
}

.select-name {
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding-left: 12px;
}

.arrow-icon {
    margin-left: 10px;
    color: #fff;
}

.arrow-icon i {
    font-size: 25px;
}

.select-button:last-child {
    margin-bottom: 0;
    /* Remove margin for the last item */
}


/*SUMMARY*/

.product-detail .title {
    margin: 0;
    color: #102c57;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    padding-bottom: 8px;
}

.product-rating {
    color: #D8A25A;
    font-size: 20px;
}

.product-detail .entry {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-detail .outlet {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.product-group {
    display: flex;
    justify-content: space-between;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price .current {
    font-size: 25px;
    font-family: "Inika", serif;
    font-weight: bold;
    color: #102c57;
}

.product-price .before {
    color: #d9d9d9;
    text-decoration: line-through;
    font-family: "Inika", serif;
}

.product-price .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.product-price .wrap::before,
.review .head-review span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    width: 1.5px;
    background-color: #696969;
    transform: skewX(-25deg);
}

.product-price .discount {
    display: inline-block;
    width: 50px;
    font-size: 18px;
    padding: 8px;
    background-color: #102c57;
    color: #fff;
    margin-left: -10px;
    text-align: center;
    border-radius: 5px;
    line-height: 1;
    font-family: "Inika", serif;
}

.wrap:has(button) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wrap button {
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}

.wrap>button {
    width: 40px;
    height: 40px;
    transition: box-shadow .3s;
}

.product-metal span,
.product-carat span {
    color: #102c57;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 15px;
}

.product-metal button {
    border-radius: 50%;
}

.product-metal button.white {
    background-color: #d9d9d9;
}

.product-metal button.yellow {
    background-color: #D8A25A;
}

.product-metal button.rose {
    background-color: #F4CFC6;
}

.product-metal button.platinum {
    background-color: #696969;
}

.product-metal button.selected,
.product-metal button:hover:not(.selected) {
    box-shadow: inset 0 0 0 4px #fff;
}

.product-carat button {
    font-size: 15px;
    line-height: 44px;
    border: 1px solid #102c57;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    color: #102c57;
}

.product-carat button.selected {
    background-color: #102c57;
    color: #fff;
    border-color: #102c57;
}

.product-carat button:hover:not(.selected,
[disabled]) {
    border-color: #D8A25A;
    background-color: #D8A25A;
}

.product-carat button:disabled {
    pointer-events: none;
    opacity: .6;
}

.product-metal .wrap,
.product-carat .wrap {
    display: flex;
    justify-content: flex-start;
}

.product-metal .wrap button span,
.product-carat .wrap button span {
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    gap: 10px;
}

.button {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    background-color: #102c57;
    color: #f8f0e5;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Poppins" sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: #D8A25A;
    transition: all .45s ease;
}

.shipping li {
    list-style: none;
}

.shipping ul {
    padding-left: 0;
}

.shipping span {
    color: #102c57;
    font-family: "Crimson Text", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.shipping i {
    color: #102c57;
    padding-right: 5px;
}

.shipping .delivery {
    font-weight: 500;
}


/*DESCRIPTION*/

.contain {
    margin: 0 auto;
    max-width: 1200px;
}

.product-description {
    padding-top: 30px;
}

.product-description nav {
    position: relative;
}

.product-description nav:before {
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    height: 1px;
    width: 100%;
    background-color: #102c57;
    opacity: .4;
}

.product-description nav ul {
    justify-content: center;
}

.product-description nav li {
    list-style: none;
    color: #45413E;
    /* text-decoration: none;
    color: inherit; */
}

.product-description nav li a {
    position: relative;
    font-size: 18px;
    padding: 20px 0;
    margin-right: 30px;
    white-space: nowrap;
    color: #102c57;
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
}

.product-description nav ul :is(li.active a,
li a:hover) {
    color: #102c57;
    font-weight: bold;
}

.product-description .product-about {
    padding: 10px 0;
    max-width: 980px;
    margin: 0 auto;
}

.product-description .product-about .text-block {
    padding-bottom: 30px;
}

.product-description .product-about :where(h3,
h4) {
    margin-bottom: 15px;
}

.product-description .product-about h3 {
    font-size: 18px;
    font-family: "Playfair Display", sans-serif;
    color: #102c57;
}

.product-description .product-about h4 {
    font-weight: 700;
    font-family: "Crimson Text", sans-serif;
    color: #102c57;
}

.wrapper2 {
    display: flex;
    gap: 60px;
    margin: 0 auto;
}

.list-block li,
.text-block p {
    color: #45413E;
    font-family: "Crimson Text", sans-serif;
    font-size: 16px;
}


/*REVIEW*/

.review {
    max-width: 770px;
}

.review .head-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #102c57;
}

.review .head-review strong {
    font-size: 40px;
    font-family: "Playfair Display", sans-serif;
    color: #102c57;
}

.review .head-review span {
    position: relative;
    padding-left: 20px;
    color: #102c57;
    font-family: "Playfair Display", sans-serif;
    font-size: 14px;
}

.review .head-review span::before {
    height: 50px;
    top: -30px;
}

.profile .thumb-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile .image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.profile .grouping {
    line-height: initial;
}

.profile .name,
.profile .reply strong {
    font-weight: bold;
    margin-bottom: 5px;
    color: #102c57;
    font-family: "Crimson Text", sans-serif;
    font-size: 16px;
}

.profile .date {
    font-size: 10px;
    margin-top: 5px;
    font-family: "Inika", sans-serif;
    color: #45413E;
}

.profile .comment {
    padding-left: 92px;
    font-family: "Crimson Text", sans-serif;
    color: #45413E;
}

.profile .comment p,
.profile .reply p {
    margin-top: 5px;
    font-size: 15px;
}

.profile .reply p {
    font-family: "Crimson Text", sans-serif;
    color: #fff;
}

.profile .comment strong {
    color: #102c57;
    font-size: 16px;
    font-family: "Playfair Display", sans-serif;
}

.profile .reply {
    margin-left: 92px;
    background-color: #DAC0A3;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.profile {
    margin-top: 30px;
}

.body-review {
    margin: 0 auto;
    max-width: 800px;
}

.bxs-star {
    color: #D8A25A;
}


/*TABBLE */

.active {
    display: block;
}

.hide {
    display: none;
}

.active-tab {
    font-weight: bold;
}


/*SAME*/

.listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 35px;
    padding-left: 60px;
    padding-top: 0;
}

.listProduct .item {
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.listProduct .item:hover {
    transform: translateY(-5px);
    cursor: pointer;
    transition: all .45s ease;
}

.listProduct .item img {
    width: 80%;
    height: auto;
    filter: drop-shadow(0 10px 15px #0009);
    padding-bottom: 10px;
}

.listProduct .item h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px;
    font-family: "Crimson Text", serif;
    color: #102c57;
}

.listProduct .item .price {
    font-size: small;
    font-family: "Inika", serif;
    color: 45413E;
    font-weight: 600;
    font-size: 14px;
}

.listProduct .item button {
    background-color: #102c57;
    color: #f8f0e5;
    padding: 12px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.listProduct .item button:hover {
    background: #D8A25A;
    transition: all .45s ease;
}

.listProduct .item a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.button button {
    border-width: 0;
    margin-right: 75px;
}

#products,
.recently-viewed {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 80px;
}

#products h2,
.recently-viewed h2 {
    color: #102c57;
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 0;
    text-align: left;
}

.recently-viewed {
    margin-bottom: 80px;
}