
.header {
    background-color: #EADBC8;
  
    padding: 10px;
   
    display: flex;
  
    justify-content: space-between; 
 
    align-items: center;
   
}

.contact-info {
    display: flex;
    
    align-items: center;
   
}

.contact-info>div {
    margin-right: 20px;
   
}

.right-section {
    display: flex;
    
    align-items: center;
   
}

.search-bar {
    margin-right: 20px;
}

.search-bar input {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
   background-color: #EADBC8;
    border: none;
    cursor: pointer;
}

.user-actions a {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
}

.user-actions a:hover {
    text-decoration: underline;
}

.main-content {
    width: 89%;
    margin: 0 auto;
    margin: 20px auto 0;
}

.banner {
    width: 105%;
    margin-bottom: 20px;
    position: relative;
    margin-left: -25px;
}

.banner img {
    width: 100%;
    display: block;
}

.user-info {
    position: absolute;
    bottom: 255px;
    left: 20px;
    color: black;
}

.user-info .full-name {
    font-weight: bold;
}

.user-info .my-account {
    display: block;
    margin-top: 5px;
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar a:hover {
    text-decoration: underline;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EADBC8;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #000000; 
    border-bottom: 1px solid #000000;
}

.brand-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: auto;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.top-nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.top-nav a:hover {
    background-color: #333;
    color: #fff;
}

.main-text {
    text-align: center;
    font-size: 27px;
    line-height: 2.5;
}

.content-sections {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.section {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 28px;
}

.edit-button {
    display: block;
    margin-bottom: 10px;
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    float: right;
    color: #fff;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
}

label.field {
    display: block;
    margin-bottom: 18px;
}

.field__label {
    color: var(--color-gray);
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.field__input[type="select"],
select.field__input {
    appearance: menulist;
    -webkit-appearance: menulist;
    padding-right: 2rem;
}

.field:focus-within {
    border-color: #000;
}

.fields {
    display: grid;
    grid-gap: 1rem;
}

.fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    background-color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #000000;
    width: 13%;
    padding: 1rem;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.button:hover {
    color: #EADBC8;
}

.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #EADBC8;
}

.left-column,
.center-column,
.right-column {
    flex-basis: calc(100% / 3);
}

.center-column {
    text-align: center;
}

.left-column,
.right-column {
    padding: 0 20px;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: #102C57;
}

.left-column {
    flex-grow: 1;
}

.footer-links {
    color: white;
    font-size: 10px;
}

.copy-r {
    background-color: #102C57;
    color: white;
    padding-bottom: 10px;
    text-align: center;   
}